<!doctype html>
<html lang="en-US">
<head>
  <title>File-based CMS</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- favicon -->
  <!-- <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"> -->
</head>
<body>
  <header>
    <h1>File-based CMS</h1>
  </header>
  <main>
    <% if session[:message] %>
      <div class="alert">
        <p class="alert-msg"><%= session.delete(:message) %></p>
      </div>
    <% end %>
    <%= yield %>
  </main>
</body>
